
@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="panel-layout">

    <div class="input-group col-lg-12">
        <labe class="form__label">Name</labe>
        <input id="txt_name" type="text" class="text" />
        <span class="input-group-addon"><span class="fa fa-user"></span></span>
    </div>

    <div class="input-group col-lg-12">
        <labe class="form__label">Email Address</labe>
        <input id="txt_email" type="text" class="text" />
        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
    </div>

    <div class="input-group col-lg-12">
        <labe class="form__label">Enquiry</labe>
        <textarea id="" type="text" class="text" />
    </div>

    <div class="input-group col-lg-12">
        <input id="" type="submit"  class="submit" />
    </div>


</div>