
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
</head>
<body>
    <div id="woo-products" class="woo-content products_block shop woonew resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
        <div id="woo_grid" class="woo-grid cols-4">
            <div class="woocommerce columns-4">

                <ul class="products columns-3">


                    <li class="post-5138 product type-product status-publish has-post-thumbnail product_cat-astra-ring product_cat-bangles product_cat-belly-chains product_cat-diamond-bracelets product_cat-diamond-ring product_cat-head-jewelrys product_cat-kangan product_cat-naptun-diamond product_cat-necklaces product_cat-pledge-pins product_cat-slave-bracelets product_cat-white-gold-rings product_cat-women-core product_tag-constituto first instock sale shipping-taxable purchasable product-type-simple" style="display: inline-block; height: 448px;">
                        <span class="product-loading" style="display: none;"></span>
                        <div class="container-inner">
                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/feugiat-lorem/" class="woocommerce-LoopProduct-link">		</a><div class="image-block">
                                <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/feugiat-lorem/" class="woocommerce-LoopProduct-link"></a><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/feugiat-lorem/">

                                    <span class="onsale">Sale!</span>
                                    <img width="279" height="326" src="/img/01-279x326.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="01" title="01"><img width="279" height="326" src="/img/05-279x326.jpg" class="secondary-image attachment-shop-catalog" alt="">
                                </a><div class="product-block-hover">
                                    <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#" class="button yith-wcqv-button" data-product_id="5138">Quick View</a><div class="yith-wcwl-add-to-wishlist add-to-wishlist-5138">
                                        <div class="yith-wcwl-add-button show" style="display:block">

                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/?add_to_wishlist=5138" rel="nofollow" data-product-id="5138" data-product-type="simple" class="add_to_wishlist">
                                                Add to Wishlist
                                            </a>
                                            <img src="/img/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                        </div>
                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                            <span class="feedback">Product added!</span>
                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wishlist/" rel="nofollow">
                                                Browse Wishlist
                                            </a>
                                        </div>
                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                            <span class="feedback">The product is already in the wishlist!</span>
                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wishlist/" rel="nofollow">
                                                Browse Wishlist
                                            </a>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                    </div><div class="woocommerce product compare-button"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029?action=yith-woocompare-add-product&amp;id=5138" class="compare button" data-product_id="5138" rel="nofollow">Compare</a></div>
                                </div>
                            </div>
                            <div class="product-detail-wrapper">
                                <div class="product-title"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/feugiat-lorem/" title="Feugiat lorem Ring"><h3 class="product-name">Feugiat lorem Ring</h3></a></div>
                                <div class="product-item-price"><span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R</span>100.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R</span>85.00</span></ins></span></div>
                                <div class="star-rating" title="Rated 4.25 out of 5"><span style="width:85%"><strong class="rating">4.25</strong> out of 5</span></div>

                                <div class="product-button-hover">
                                    <a rel="nofollow" href="http://demos.templatemela.com/woo/WCM02/WCM020029/?add-to-cart=5138" data-quantity="1" data-product_id="5138" data-product_sku="Prod019" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="post-5136 product type-product status-publish has-post-thumbnail product_cat-astra-ring product_cat-bangles product_cat-belly-chains product_cat-diamond-bracelets product_cat-diamond-ring product_cat-head-jewelrys product_cat-kangan product_cat-naptun-diamond product_cat-necklaces product_cat-pledge-pins product_cat-slave-bracelets product_cat-white-gold-rings product_cat-women-core  instock sale featured shipping-taxable purchasable product-type-simple" style="display: inline-block; height: 448px;">
                        <span class="product-loading" style="display: none;"></span>
                        <div class="container-inner">
                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/cumdictum/" class="woocommerce-LoopProduct-link">		</a><div class="image-block">
                                <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/cumdictum/" class="woocommerce-LoopProduct-link"></a><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/cumdictum/">

                                    <span class="onsale">Sale!</span>
                                    <img width="279" height="326" src="../../img/02-279x326.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="02" title="02"><img width="279" height="326" src="../../img/10-279x326.jpg" class="secondary-image attachment-shop-catalog" alt="">
                                </a><div class="product-block-hover">
                                    <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#" class="button yith-wcqv-button" data-product_id="5136">Quick View</a><div class="yith-wcwl-add-to-wishlist add-to-wishlist-5136">
                                        <div class="yith-wcwl-add-button show" style="display:block">

                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/?add_to_wishlist=5136" rel="nofollow" data-product-id="5136" data-product-type="simple" class="add_to_wishlist">
                                                Add to Wishlist
                                            </a>
                                            <img src="../../img/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                        </div>
                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                            <span class="feedback">Product added!</span>
                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wishlist/" rel="nofollow">
                                                Browse Wishlist
                                            </a>
                                        </div>
                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                            <span class="feedback">The product is already in the wishlist!</span>
                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wishlist/" rel="nofollow">
                                                Browse Wishlist
                                            </a>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                    </div><div class="woocommerce product compare-button"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029?action=yith-woocompare-add-product&amp;id=5136" class="compare button" data-product_id="5136" rel="nofollow">Compare</a></div>
                                </div>
                            </div>
                            <div class="product-detail-wrapper">
                                <div class="product-title"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/cumdictum/" title="Cumdict Diamond Ring"><h3 class="product-name">Cumdict Diamond Ring</h3></a></div>
                                <div class="product-item-price"><span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R</span>4,500.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R</span>4,399.00</span></ins></span></div>
                                <div class="star-rating" title="Rated 3.25 out of 5"><span style="width:65%"><strong class="rating">3.25</strong> out of 5</span></div>

                                <div class="product-button-hover">
                                    <a rel="nofollow" href="http://demos.templatemela.com/woo/WCM02/WCM020029/?add-to-cart=5136" data-quantity="1" data-product_id="5136" data-product_sku="NOJ451" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="post-5135 product type-product status-publish has-post-thumbnail product_cat-astra-ring product_cat-bangles product_cat-belly-chains product_cat-diamond-bracelets product_cat-diamond-ring product_cat-head-jewelrys product_cat-kangan product_cat-naptun-diamond product_cat-necklaces product_cat-pledge-pins product_cat-slave-bracelets product_cat-white-gold-rings product_cat-women-core  instock sale shipping-taxable purchasable product-type-simple" style="display: inline-block; height: 448px;">
                        <span class="product-loading" style="display: none;"></span>
                        <div class="container-inner">
                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/pellente-cum/" class="woocommerce-LoopProduct-link">		</a><div class="image-block">
                                <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/pellente-cum/" class="woocommerce-LoopProduct-link"></a><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/pellente-cum/">

                                    <span class="onsale">Sale!</span>
                                    <img width="279" height="326" src="../../img/09-279x326.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="09" title="09"><img width="279" height="326" src="../../img/14-279x326.jpg" class="secondary-image attachment-shop-catalog" alt="">
                                </a><div class="product-block-hover">
                                    <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#" class="button yith-wcqv-button" data-product_id="5135">Quick View</a><div class="yith-wcwl-add-to-wishlist add-to-wishlist-5135">
                                        <div class="yith-wcwl-add-button show" style="display:block">

                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/?add_to_wishlist=5135" rel="nofollow" data-product-id="5135" data-product-type="simple" class="add_to_wishlist">
                                                Add to Wishlist
                                            </a>
                                            <img src="../../img/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                        </div>
                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                            <span class="feedback">Product added!</span>
                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wishlist/" rel="nofollow">
                                                Browse Wishlist
                                            </a>
                                        </div>
                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                            <span class="feedback">The product is already in the wishlist!</span>
                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wishlist/" rel="nofollow">
                                                Browse Wishlist
                                            </a>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                    </div><div class="woocommerce product compare-button"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029?action=yith-woocompare-add-product&amp;id=5135" class="compare button" data-product_id="5135" rel="nofollow">Compare</a></div>
                                </div>
                            </div>
                            <div class="product-detail-wrapper">
                                <div class="product-title"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/pellente-cum/" title="Pellente Cum Bracelet"><h3 class="product-name">Pellente Cum Bracelet</h3></a></div>
                                <div class="product-item-price"><span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R</span>650.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R</span>500.00</span></ins></span></div>
                                <div class="star-rating" title="Rated 3.00 out of 5"><span style="width:60%"><strong class="rating">3.00</strong> out of 5</span></div>

                                <div class="product-button-hover">
                                    <a rel="nofollow" href="http://demos.templatemela.com/woo/WCM02/WCM020029/?add-to-cart=5135" data-quantity="1" data-product_id="5135" data-product_sku="NJ0125" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="post-5133 product type-product status-publish has-post-thumbnail product_cat-astra-ring product_cat-bangles product_cat-belly-chains product_cat-diamond-bracelets product_cat-diamond-ring product_cat-head-jewelrys product_cat-kangan product_cat-naptun-diamond product_cat-necklaces product_cat-pledge-pins product_cat-slave-bracelets product_cat-white-gold-rings product_cat-women-core product_tag-egretas product_tag-hello product_tag-how-are-you product_tag-nostreum last instock sale featured shipping-taxable purchasable product-type-simple" style="display: inline-block; height: 448px;">
                        <span class="product-loading" style="display: none;"></span>
                        <div class="container-inner">
                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/mauris-risus/" class="woocommerce-LoopProduct-link">		</a><div class="image-block">
                                <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/mauris-risus/" class="woocommerce-LoopProduct-link"></a><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/mauris-risus/">

                                    <span class="onsale">Sale!</span>
                                    <img width="279" height="326" src="../../img/03-279x326.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="03" title="03"><img width="279" height="326" src="../../img/04-279x326.jpg" class="secondary-image attachment-shop-catalog" alt="">
                                </a><div class="product-block-hover">
                                    <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#" class="button yith-wcqv-button" data-product_id="5133">Quick View</a><div class="yith-wcwl-add-to-wishlist add-to-wishlist-5133">
                                        <div class="yith-wcwl-add-button show" style="display:block">

                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/?add_to_wishlist=5133" rel="nofollow" data-product-id="5133" data-product-type="simple" class="add_to_wishlist">
                                                Add to Wishlist
                                            </a>
                                            <img src="../../img/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                        </div>
                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                            <span class="feedback">Product added!</span>
                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wishlist/" rel="nofollow">
                                                Browse Wishlist
                                            </a>
                                        </div>
                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                            <span class="feedback">The product is already in the wishlist!</span>
                                            <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wishlist/" rel="nofollow">
                                                Browse Wishlist
                                            </a>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                    </div><div class="woocommerce product compare-button"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029?action=yith-woocompare-add-product&amp;id=5133" class="compare button" data-product_id="5133" rel="nofollow">Compare</a></div>
                                </div>
                            </div>
                            <div class="product-detail-wrapper">
                                <div class="product-title"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/product/mauris-risus/" title="Mauris Risus Earing"><h3 class="product-name">Mauris Risus Earing</h3></a></div>
                                <div class="product-item-price"><span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R</span>450.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R</span>399.00</span></ins></span></div>
                                <div class="star-rating" title="Rated 3.00 out of 5"><span style="width:60%"><strong class="rating">3.00</strong> out of 5</span></div>

                                <div class="product-button-hover">
                                    <a rel="nofollow" href="http://demos.templatemela.com/woo/WCM02/WCM020029/?add-to-cart=5133" data-quantity="1" data-product_id="5133" data-product_sku="Prod003" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/template" id="tmpl-variation-template">
        <div class="woocommerce-variation-description">
            {{{ data.variation.variation_description }}}
        </div>
        <div class="woocommerce-variation-price">
            {{{ data.variation.price_html }}}
        </div>
        <div class="woocommerce-variation-availability">
            {{{ data.variation.availability_html }}}
        </div>
    </script>
    <script type="text/template" id="tmpl-unavailable-variation-template">
        <p>Sorry, this product is unavailable. Please choose a different combination.</p>
    </script>
    <script type="text/javascript" src="../../scripts/jquery.form.min.js"></script>
    <script type="text/javascript" src="../../scripts/scripts.js"></script>
    <script type="text/javascript" src="../../scripts/add-to-cart.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="../../scripts/js.cookie.min.js"></script>
    <script type="text/javascript" src="../../scripts/woocommerce.min.js"></script>
    <script type="text/javascript" src="../../scripts/cart-fragments.min.js"></script>
    <script type="text/javascript" src="../../scripts/woocompare.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="../../scripts/frontend.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.prettyPhoto.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.selectBox.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.yith-wcwl.js"></script>
    <script type="text/javascript" src="../../scripts/functions.js"></script>
    <script type="text/javascript" src="../../scripts/navigation.js"></script>
    <script type="text/javascript" src="../../scripts/validate.js"></script>
    <script type="text/javascript" src="../../scripts/wp-embed.min.js"></script>
    <script type="text/javascript" src="../../scripts/underscore.min.js"></script>
    <script type="text/javascript" src="../../scripts/wp-util.min.js"></script>
    <script type="text/javascript">

    </script>
    <script type="text/javascript" src="../../scripts/add-to-cart-variation.min.js"></script>
    <script type="text/javascript">document.body.className = document.body.className.replace("siteorigin-panels-before-js", "");</script>
</body>
</html>
