@model AfriArtisan.Domain.DTOs.Product

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<main id="content" role="main" style="margin-left:20px;margin-top:100px;">
    <div id="product_@Model.ItemNumber" class="product type-product status-publish has-post-thumbnail product_cat-astra-ring product_cat-bangles product_cat-belly-chains product_cat-diamond-bracelets product_cat-diamond-ring product_cat-head-jewelrys product_cat-kangan product_cat-naptun-diamond product_cat-necklaces product_cat-pledge-pins product_cat-slave-bracelets product_cat-white-gold-rings product_cat-women-core first instock sale shipping-taxable purchasable product-type-simple">
        <span class="onsale">Sale!</span>
        <div class="images" style="float:left;margin: 0 0 20px 0;">

            <div class="yith_magnifier_zoom_wrap"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/09.jpg" itemprop="image" class="yith_magnifier_zoom woocommerce-main-image" title="09"><img width="650" height="750" src="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/09-650x750.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt=""></a><div class="yith_magnifier_mousetrap" style="width: 100%; height: 100%; top: 0px; left: 0px;"></div></div>
            <div class="thumbnails slider">
                <div class="caroufredsel_wrapper" style="display:block;text-align:start;float:none;position:relative;top:auto;right:auto;bottom:auto;left:auto;z-index:auto;width:420px;height:89px;margin:0px;overflow:hidden;">
                    <ul class="yith_magnifier_gallery" style="text-align:left;float:none;position:absolute;top:0px;right:auto;bottom:auto;left:0px;margin:0px;width:1260px;height: 89px;">
                        <li class="yith_magnifier_thumbnail first" style="width: 84px;"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/09.jpg" class="yith_magnifier_thumbnail first" title="09" data-small="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/09-650x750.jpg"><img width="279" height="326" src="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/09-279x326.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt=""></a></li>
                        <li class="yith_magnifier_thumbnail" style="width: 84px;"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/14.jpg" class="yith_magnifier_thumbnail" title="14" data-small="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/14-650x750.jpg"><img width="279" height="326" src="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/14-279x326.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt=""></a></li>
                        <li class="yith_magnifier_thumbnail" style="width: 84px;"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/05.jpg" class="yith_magnifier_thumbnail" title="05" data-small="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/05-650x750.jpg"><img width="279" height="326" src="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/05-279x326.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt=""></a></li>
                        <li class="yith_magnifier_thumbnail" style="width: 84px;"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/17.jpg" class="yith_magnifier_thumbnail" title="17" data-small="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/17-650x750.jpg"><img width="279" height="326" src="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/17-279x326.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt=""></a></li>
                        <li class="yith_magnifier_thumbnail last" style="width: 84px;"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/03.jpg" class="yith_magnifier_thumbnail last" title="03" data-small="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/03-650x750.jpg"><img width="279" height="326" src="http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/uploads/2016/04/03-279x326.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt=""></a></li>
                    </ul>
                </div>

                <div id="slider-prev" class="hidden" style="display: none;"></div>
                <div id="slider-next" class="hidden" style="display: none;"></div>
            </div>

        </div>


        <script type="text/javascript" charset="utf-8">
	var yith_magnifier_options = {

		enableSlider: true,

				sliderOptions: {
			responsive: true,
			circular: true,
			infinite: true,
			direction: 'left',
			debug: false,
			auto: false,
			align: 'left',
			prev: {
				button: "#slider-prev",
				key: "left"
			},
			next: {
				button: "#slider-next",
				key: "right"
			},
			//width   : 668,
			scroll: {
				items: 1,
				pauseOnHover: true
			},
			items: {
				//width: 283,
				visible: 5			}
		},


		showTitle: false,
		zoomWidth: 'auto',
		zoomHeight: 'auto',
		position: 'inside',
		//tint: ,
		//tintOpacity: ,
		lensOpacity: 0.2,
		softFocus: false,
		//smoothMove: ,
		adjustY: 0,
		disableRightClick: false,
		phoneBehavior: 'inside',
		loadingLabel: 'Loading...',
		zoom_wrap_additional_css: ''
	};
        </script>
        <div class="summary entry-summary" style="float: left;margin: 0 0 20px 3%;position: relative;width: 50%;">
            <h1 class="product_title entry-title" style="text-transform:uppercase;">@Model.Description</h1>
            <br />
        <p class="row price" style="color: #1a1a1a;font-family:Helvetica Neue,Helvetica,sans-serif;font-size:20px;font-weight:700;"><ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R</span>@Model.Cost</span></ins></p>
            <br />
            <div class="woocommerce-product-details__short-description">
                <p>@Model.ItemNumber - @Model.Description</p>
            </div>

            <form class="cart" action="http://demos.templatemela.com/woo/WCM02/WCM020029/product/pellente-cum/" method="post" enctype="multipart/form-data">
                <div class="quantity">
                    <label class="screen-reader-text" for="quantity_5a97f8417860b">Quantity</label>
                    <input type="number" id="quantity_5a97f8417860b" class="input-text qty text" step="1" min="1" max="10" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="">
                </div>

                <button type="submit" name="add-to-cart" value="5135" class="single_add_to_cart_button button alt">Add to cart</button>

            </form>


            <div class="clear"></div><div class="product_meta">

            </div>
            <div class="product-cms-tab-block">
                <aside id="black-studio-tinymce-4" class="widget widget_black_studio_tinymce">
                    <div class="textwidget">
                        <div id="horizontal_tab" class="horizontal_tab style5">
                            <div id="tab" class="tab">
                                <ul class="tabs"><li class="odd"><a href="#" class="current">Delivery<span class="leftarrow"></span></a></li><li class="even"><a href="#">Shipping<span class="leftarrow"></span></a></li><li class="odd"><a href="#">Today's Deal<span class="leftarrow"></span></a></li></ul><div class="tab_groupcontent">
                                    <div class="tabs_tab" style="display: block;"> LOVE are renowned for their cute as a button skater Floral Woven Skater Dress is no exception! Flower power and Japanese print influences are big news.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</div><div class="tabs_tab" style="display: none;">
                                        <strong>About Me :</strong> LOVE are renowned for their cute as a button skater Floral Woven Skater Dress is no exception! Flower power and Japanese print influences are big news.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        <p><strong>Composition :</strong> 100% PURE</p>
                                        <p><strong>Example Shown :</strong> SIZE XS, Hem to Hem 84cm OR 33 ' </p>
                                    </div><div class="tabs_tab" style="display: none;">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

        </div>


        <div class="singleproduct-sidebar">
        </div>

    </div>


</main>


@section scripts{
<script src="~/Scripts/yith_magnifier.min.js"></script>
    
<script src="~/Scripts/ywzm_frontend.min.js"></script>
}